extends ../../templates/base
block main
    h1 page index-pug afdasdfa
    img(src=require('./../../images/webpack.png') width='300')
    
    //- include ../../modules/test/module.pug
    //- +button({title: 'button'})